#container{   
    border: solid;
    border-color: blue;
    width: 50%;
    height: 50%;
    position: absolute; 
	left: 15%;
    top: 10%; 
}

#chat{
    /* background-color: blue; */
    position: relative;
    width: 95%;
    height: 95%;
    margin-top: 1%;
    margin-left: 2.5%;
    overflow: auto;
}
#containerOutput{
    position: absolute;
    background-color: #cccccc;
    width: 100%;
    text-align: center;
}



#text_chat{
    position: absolute;
    left: 43%;
    top: -20%;
}

input[id=nome]{
    position: absolute;
    left: 27%;
    top: 63%;
    height: 5%;
    width: 25%;
}
input[id=mensagem]{
    position: absolute;
    left: 17%;
    top: 70%;
    height: 5%;
    width: 42%;
}
    
button{
    position: absolute;
    left: 60%;
    top: 70%;
    height: 6%;
    width: 10%;
    text-align: center;
}


#online{
    border: solid;
    border-color: red;
    width: 20%;
    height: 50%;
    position: absolute; 
	right: 7%;  
	top: 10%; 
} 
#id_pessoas_on{
    position: absolute;
    right: 9%;
    top: -20%;
}

#id{
    position: absolute;
    width: 90%;
    height: 90%;
    margin-left: 5.5%;
    margin-top: 1%;
    overflow: auto;
}

#pMsg{
    line-height: 7px;
}
